[2021-09-13 19:30] unitygilles opened #11 "What is AWS Helm service?"
I was browsing through the code and the documentation and saw that there are references with an `AWS Helm Service`. Is this a typo?

https://github.com/harness-io/terraform-provider-harness/blob/395a2023cd7ad7330de317a5f7bc00d4cbca8f46/internal/provider/resource_service_helm.go#L14

Since the documentation is generated from code, the docs are as well showcasing this nomenclature.
https://github.co

[2021-09-16 23:41] stan-yago opened #15 "resource harness_ssh_credential doesn't support import"
### Version
Terraform v1.0.6
Harness 0.0.7

### Affected Resource(s)
- harness_ssh_credential

### Terraform Configuration Files
[code]

### Expected Behavior
terraform apply when run the second time, should cause no changes
state rm & import should work

### Actual Behavior
Running apply second time caused an error
[code]

[2021-09-21 13:28] #11 closed

[2021-09-21 13:51] #15 closed

[2021-10-06 16:34] micahlmartin opened #21 "Add support for creating triggers"
Need the ability to create Triggers.

[2021-10-07 18:50] mphammer opened #22 "Feature Request: Create harness_delegate data source"
Some terraform resources need values such has the harness-delegate hostname and uuid. It would be great if we could have a data source that could pull those values for use in the terraform resources.

Example: The cloud_provider resources need a delegate_selector.
Example: We are creating a terraform job that sets the Delegate's Scope with the Harness API. It needs the delegate's uuid.

The Harnes

[2021-10-08 02:21] #22 closed, assigned to nobody

[2021-10-08 11:57] micahlmartin opened #24 "Usage scopes aren't being set properly for cloud providers"
If you create a cloudprovider with a usage scope for a specific application it will update it but every time you run a plan it will show there is a change.

[code]

After applying and running a plan you will see this:

[code]

[2021-10-08 14:21] stan-yago opened #25 "Add support for creating API Keys"
Would like to be able to create API keys via terraform
GraphQL API now supports it

[2021-10-08 16:45] #24 closed, assigned to micahlmartin

[2021-10-08 17:32] stan-yago opened #27 "Add description field to environments"
Environment description is missing for both resource and data source

[2021-10-08 19:51] #27 closed, assigned to nobody

[2021-10-11 17:45] stan-yago opened #29 "Failure renaming kubernetes cloud-provider"
Attempt to change the name of cloud provider fails. This causes

2021/10/11 13:38:57 [ERROR] eval: *terraform.EvalRefresh, err: received http status code '400'
2021/10/11 13:38:57 [ERROR] eval: *terraform.EvalSequence, err: received http status code '400'

Error: received http status code '400'
to be returned by terraform. The state file does get updated however and has the right name.

After rena

[2021-10-12 15:52] #29 closed

[2021-10-20 12:26] gdineshkumar627 opened #34 "resources creation should wait until dataSource dependencies are computed"
### Affected Resource(s)
Please list the resources as a list, for example:
- harness_cloudprovider_kubernetes
- harness_environment

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Expected Behavior
Resources should wait until data sources are computed
[code]

### Actual Behavior
Re

[2021-10-27 14:03] mphammer opened #35 "Users must accept Harness Invitation Before Being Added to a Group"
# The Situation

* Through the Harness Manager we can create a harness_user and then add them to a harness_group (even if their email hasn't been verified yet)
* Through terraform the user must accept their invite to harness before we can add the user to the harness_group

# Expected Behavior

Similarly to using the Harness Manager, we should be able to add users to groups without them having acce

[2021-11-01 15:23] stan-yago commented on #25
Hi @micahlmartin the goal is to automatically generate an API key for each app (team) as a preferred way to start and monitor workflows and pipelines.  At least with automatic generation the key can be viewed by any admin and shared with appropriate team.  I agree that API should also support fetching the key to be made available via outputs in terraform or the UI should allow teams to view their

[2021-11-01 16:39] gabrielcerioni commented on #25
Hey, Stan!

I saw that Micah is already interacting with you here.

So, just to make sure: you are not directly making requests to the Harness CRUD API, right?

You are using Micah's Terraform Provider and you would like to fetch already created API keys using that amazing mechanism.

Please let me know If this assumption is correct!

[2021-11-02 17:49] mphammer commented on #35
@micahlmartin I just discussed this with my team. Please enable the feature flag. Having users auto-accepted would be great.

[2021-11-08 19:03] matthewmedway opened #37 "Add support for secretReference with harness_encrypted_text resource"
Would like to see this added as an option.
GraphQL api supports this:
[code]
Variables:
[code]

[2021-11-08 19:59] micahlmartin opened #38 "Add support for applying delegate selectors"
The graphql API now supports adding custom selectors to a delegate.

[2021-11-08 20:00] micahlmartin opened #39 "Ability to approve new delegates"
The graphql API now supports approving delegates.

[2021-11-08 20:05] micahlmartin commented on #37
Hi @matthewmedway thanks for the submission. I haven't yet seen this functionality. Can you help me understand the use case for this?

[2021-11-08 20:23] matthewmedway commented on #37
It's used to create a Harness encrypted text Secret that is a reference to an already existing secret in AWS Secrets Manager or HashiCorp Vault or other secrets service:
https://docs.harness.io/article/cwp7rlauzn-reference-existing-secrets

[2021-11-08 21:24] micahlmartin commented on #37
@matthewmedway ah nice. Yeah I can get that added for sure.

[2021-11-10 02:32] micahlmartin commented on #37
@matthewmedway unfortunately there's a gap in the API response. I can't get the referenced secret field back when querying for the newly created secret. It's missing as a field in the object response which means Terraform will always think there is a change. I've filed a bug with the team to get this ironed out. In the meantime, I can implement this but you would have to set `lifecycle { ignore_ch

[2021-11-10 03:05] micahlmartin commented on #37
@matthewmedway actually you wont need the `ignore_changes` flag, but if someone updates the reference in the UI or you import the resource into terraform the `secret_reference` field will not be updated.

[2021-11-10 03:11] micahlmartin commented on #34
@gdineshkumar627 closing this for now. If you're still unable to get past this feel free to reopen the issue.

[2021-11-10 03:11] #34 closed

[2021-11-10 13:45] #37 closed

[2021-11-10 21:17] micahlmartin opened #42 "Add support for looking up git connector by name"
Currently the only way to look up a git connector is by Id. This is pretty challenging because it's not surfaced anywhere in the UI. The only way to find it is listing all the connectors in the graphql API and filtering down to the one you're looking for.

[2021-11-10 22:56] #42 closed

[2021-11-12 13:23] micahlmartin commented on #39
Closed by

[2021-11-12 13:23] #39 closed

[2021-11-12 15:00] micahlmartin opened #45 "Add ability to create secret managers"

[2021-11-16 21:14] eiladin opened #46 "YamlConfig resources cannot be deleted"
The YamlConfig resource cannot be deleted.  The code for the provider is using the wrong client and method.  It's attempting to delete a CloudProvider instead of using the ConfigAsCodeClient to remove the yaml document.

 https://github.com/harness-io/terraform-provider-harness/blob/main/internal/service/cd/yamlconfig/yaml_config.go#L121

### Terraform Version
1.0.11

### Affected Resource(s)
Plea

[2021-11-19 04:14] micahlmartin commented on #38
On hold until API's are available for querying list of available scopes and scopes currently applied to the delegate.

[2021-11-19 04:16] micahlmartin commented on #35
Waiting for bug in the API to be fixed https://harness.atlassian.net/browse/PL-20776.

[2021-12-02 03:19] micahlmartin commented on #46
This should be addressed in the latest release 0.1.5.

[2021-12-02 03:19] #46 closed

[2021-12-02 15:27] chris-cummings commented on #46
Thanks for the fix!!

[2021-12-09 20:14] micahlmartin opened #49 "Ability to customize the graphql endpoint"
For on-prem customers the graphql endpoint is `/api/graphql` but for SaaS customers it's `/gateway/api/graphql`.

Need this issue fixed first in the sdk https://github.com/harness-io/harness-go-sdk/issues/64

[2021-12-10 20:45] micahlmartin commented on #49
Fixed in version 0.1.7.

[2021-12-10 20:45] #49 closed

[2021-12-14 15:10] rsimonetta-peartx opened #51 "v0.1.7 Issue: Error: error decoding response: invalid character '<' looking for beginning of value"
I've encountered an issue while upgrading to the v0.1.7 provider. The terraform works fine with v0.1.6 but getting `error decoding response` happens with v0.1.6

The terraform in question is simple enough.  I'm looping over a list of applications and then creating the resources from a string variable.

tfvars
`applications =  ["app1", "app2"]`

main.tf
[code]

Creation of the application
[code]
Er

[2021-12-14 15:20] chrisjws-harness commented on #51
Could you try running the GraphQL directly? Might give a better idea where the issue is coming up

[2021-12-14 15:25] rsimonetta-peartx commented on #51
Yes, let me figure out how to do that. Haven't used `graphql` before

[2021-12-14 18:49] asheynkmantyler commented on #51
confirmed we are having exact same issue with running
[code]

[2021-12-15 17:42] jadunham1 commented on #51
I also have the same issue.  I was able to decode the graphQL query and run it and the graphQL query looks fine and returns successfully.
FWIW v0.1.6 works, but v0.1.7 does not.

[2021-12-15 18:00] jadunham1 commented on #51
It's failing in https://github.com/harness-io/harness-go-sdk/blob/ff6dbdb4fdfd5e35ba796fb5b9a2b0dd22fa9cf7/harness/cd/application.go#L16

My suspicion here is that https://github.com/harness-io/harness-go-sdk/pull/65 made this not work correctly.

[2021-12-15 18:11] jadunham1 commented on #51
Ah I suspect @rsimonetta-peartx and I were running into the same issue.
The docs used to say
`provider "harness" {
  endpoint   = "https://app.harness.io"}`

If you just use the default endpoint (removing the endpoint config) you should be good to go.
Or you can change it to `endpoint   = "https://app.harness.io/gateway/api"`

[2021-12-15 18:17] rsimonetta-peartx commented on #51
@jadunham1 setting `endpoint = "https://app.harness.io/gateway/api"` did the trick.

[2021-12-16 21:14] micahlmartin commented on #51
If you're running Harness SaaS then you can just remove the `endpoint` setting altogether. If you're running on-prem, then you need to specify it as `https://my.harnessdomain.com/api`. The default is now set to `https://app.harness.io/gateway/api`.

[2021-12-16 21:14] #51 closed

[2021-12-22 22:49] mmenarguezpear commented on #21
This is a pretty common feature! +1

[2021-12-22 22:50] rsimonetta-peartx commented on #21
+1 Would be very handy in rolling out applications.

[2021-12-27 05:16] ajaychoudhary-hotstar opened #52 "add users to group is failing"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2022-01-03 02:11] micahlmartin commented on #52
Duplicate of #35

[2022-01-03 02:11] #52 closed

[2022-01-03 06:55] releaseengineering commented on #35
When we add user from UI, it works with groups. Even there is API as well to create user with groups. Probably keeping user creation and add to group can be in a single resource to make It work.

[2022-01-04 14:56] micahlmartin commented on #35
@releaseengineering agreed. I've been waiting for some changes to the graphql API in order to make this work. It might have been released recently so I'll check.

[2022-01-04 15:33] stan-yago opened #53 "Changes to git sync configurations are not detected"
Git sync setup works great, however if change is made in the UI and a different repository is selected as git sync destination, the provider does not detect drift next time plan is ran.

Is this a limitation of the API?

[2022-01-09 16:31] ajaychoudhary-hotstar commented on #35
@micahlmartin Any ETA on this? this is blocking us on onboarding automation.

[2022-01-10 04:49] micahlmartin commented on #35
Pushed a fix with version 0.1.8. Let me know if there are any problems.

[2022-01-10 04:49] #35 closed

[2022-01-10 17:50] antonio-chang opened #55 "Fail to import state"
Hi there,

The Terraform Provider for Harness appears to be broken. We attempted to import the github connector and it threw some go-lang error stacks when using an import command.
We used this command - "import module.control.harness_connector.github_marqeta marqetajposharnessnextgen"
Please see more detail about our tfplan and errors in the attached photos.

<img width="1119" alt="Screen Shot 20

[2022-01-10 23:13] micahlmartin commented on #55
@antonio-chang what version of the provider are you using? I think the latest version 0.1.8 may have some bugs in the nextgen code. If that's the case, can you try 0.1.7?

[2022-01-11 20:05] brianbuda opened #56 "harness_environment variable_override bug"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
1.0.0

### Affected Resource(s)
Please list the resources as a list, for example:
- harness_environment

If this issue appears to affect multiple

[2022-01-11 20:21] jrmash opened #57 "Harness Connector Resource Returns Error"
Creating new `harness_connector` resources at the account level resulted in a `404 Not Found` error. Importing an existing connector at the account level produced a `Cannot import non-existent remote object` error.

The account id and API keys are set via environment variables, and I can successfully create and import other NG resources (`harness_organization`, for instance).

### Terraform Versio

[2022-01-14 18:16] antonio-chang commented on #55
@micahlmartin, I think I was using 0.1.7.  You can see the last few line in the last pic, it says v0.1.7 plugin crashed.

[2022-01-17 15:08] micahlmartin commented on #56
Hi @brianbuda . Can you provide any details as to what error you're experiencing?

[2022-01-17 16:54] micahlmartin commented on #55
@antonio-chang I'm currently getting the error also. I think there were some changes in the API. I'm working to get a fix out for you

[2022-01-17 18:31] brianbuda commented on #56
The service ID is required but when you look at the yaml file for one of
"All Services", there is no I'd, that key doesn't exist. It seems if you
make that parameter optional, that will fix the issue.

Brian

On Mon, Jan 17, 2022, 10:09 AM Micah Martin ***@***.***>
wrote:

[2022-01-21 15:13] stan-yago commented on #56
@brianbuda In resource "harness_environment" app_id is not the name of the app, but the id harness assigned internally

To get the id of existing app you can use something like
[code]

and then you can
[code]

[2022-01-21 15:45] brianbuda commented on #56
@stan-yago you're correct, that's a typo in my Configuration File, but the issue is wanting to have a variable_override for "All Services" like you can do from the UI.  Currently with the harness_environment, the service_name is required for the variable_override

[2022-01-24 14:44] ialmadiKR opened #59 "Resource harness_yaml_config: destroy not removing yaml in Harness"
### Terraform Version
0.13

### Affected Resource(s)
harness_yaml_config

### Expected Behavior
When terraform destroy runs it should remove the YAML file that gets created in Harness.

### Actual Behavior
Terraform state gets destroyed as expected but the YAML file that gets created in Harness isn't removed.

### Steps to Reproduce
terraform apply
terraform destroy

### Important Factoids
The pat

[2022-01-24 15:19] MrFishFinger commented on #56
@brianbuda  - as a workaround, you should be able to specify an empty string for `service_name`, to create an "All Service" Variable Override. For example:

[code]

[2022-01-24 15:23] MrFishFinger opened #60 "Add ability to manage "Values YAML Overrides" in harness_environment"
Hi Harness Devs,

Thanks for a great TF Provider! one function that we would really like to have, is the ability to manage "Values YAML" Overrides in the `harness_environment` resource, in a similar way to how we can manage `variable_override`

thanks!

[2022-01-25 01:55] diegopereiraeng opened #61 "Delegate Data source - Be able to get all delegates in a condition"
### Expected Behavior
What should have happened?

Be able to get all delegates running in kubernetes that are enabled!

`data "harness_delegate" "example" {`
`  type   = "KUBERNETES"`
`  status = "ENABLED"`
`}`

### Actual Behavior
What actually happened?

name is required, so it is not possible!

[2022-01-25 20:13] alishahm opened #62 "Add support for mapping harness_user_groups and application_permissions outside of harness_user_groups setup"
### Current State

The `harness_user_group` resource is used to set up a group within Access Management for Harness. This `harness_user_group` resource includes the name, description, account_permissions, and app_permissions - amongst other settings for the group.

In our use case, the `harness_user_group` resources are set up as a part of the terraform that sets up the account-level settings for

[2022-01-27 21:34] micahlmartin opened #64 "Nil pointer reference trying to approve a delegate."
Hitting an error with the following stack trace on v0.1.8 when trying to approve a delegate:

[code]

[2022-01-27 22:26] #64 closed

[2022-01-27 23:04] micahlmartin opened #65 "Need to lookup delegate by id for delegate approval"

[2022-01-28 01:04] micahlmartin commented on #59
Does this only happen for workflows or are there other yank resources this is happening to?

[2022-01-28 06:33] micahlmartin commented on #60
Hi @MrFishFinger . Thanks for request. You can actually do this today using the `harness_yaml_config` resource. If you look at the `Config as Code` folder structure, you'll see that helm values overrides are managed as separate resources within the environment. Since there's not a native `harness_values_override` resource you can still create it like this:

[code]

[2022-01-28 06:33] #60 closed

[2022-01-28 06:40] micahlmartin commented on #56
Fixed by https://github.com/harness-io/terraform-provider-harness/commit/beaeb790bdcff96fe4e110faa50b0b103d4fb18a

[2022-01-28 06:40] #56 closed

[2022-01-28 06:40] micahlmartin commented on #65
Fixed by https://github.com/harness-io/terraform-provider-harness/commit/2ac475ea5761066fa551bd0a441c8899ec650366

[2022-01-28 06:40] #65 closed

[2022-01-28 06:41] micahlmartin commented on #61
closed by https://github.com/harness-io/terraform-provider-harness/commit/d03b836d22751dbb83529bef524503a6f63454d0

[2022-01-28 06:41] #61 closed

[2022-01-28 07:19] micahlmartin commented on #57
@jrmash can you try version 0.1.9 and see you're still facing the issue?

[2022-01-28 07:22] micahlmartin commented on #55
@antonio-chang can you try with version 0.1.9?

[2022-01-28 14:01] micahlmartin opened #66 "Add support for executing workflows/pipelines and tracking the status"
Customer wants the ability to initiate workflows and pipelines using terraform. This could possibly be done with resources like `harness_execute_workflow` of `harness_execute_pipeline`. It could possibly just be `harness_execution` if the API's are similar enough.

[2022-01-28 19:34] micahlmartin opened #67 "Need to add richer debug logs"
When turning on debug logging we should be able to clearly see all http request payloads and responses similar to what we see in the AWS terraform module. This will aid significantly in troubleshooting issues.

[2022-01-29 01:15] jrmash commented on #57
The issue persists, both in applying a new connector as well as importing an existing one.

[2022-02-01 00:01] #67 closed

[2022-02-01 00:39] micahlmartin opened #70 "Automate changelog generation"
We should have automated changelogs generated for each release. The best option is to model it after [terraform-provider-aws](https://github.com/hashicorp/terraform-provider-aws) which leverages https://github.com/hashicorp/go-changelog.

[2022-02-01 15:09] micahlmartin opened #71 "Bug: API keys only able to be set by environment variables"
The latest update to [harness-go-sdk@0.1.10](https://github.com/harness-io/harness-go-sdk) introduced a bug where you're only able to set the API keys for both current gen and next gen through environment variables.

[2022-02-02 09:06] mattcharlton commented on #71
No change with 0.1.11 - same error.

This is the provider config (working with previous versions)

provider "harness" {
  endpoint   = var.api_endpoint
  account_id = data.vault_generic_secret.harness.data.account_id
  api_key    = data.vault_generic_secret.harness.data.api_key
}

variable for the api endpoint has been updated in line with changes.

[2022-02-02 12:46] micahlmartin commented on #71
@mattcharlton strange. Let me take a look.

[2022-02-02 12:49] micahlmartin commented on #57
@jrmash would you mind trying the latest version and adding the TF_LOG=DEBUG option and emailing me the output? This will give me the exact output of the API calls to help me troubleshoot it. micah.martin@harness.io. Thanks!

[2022-02-02 16:07] micahlmartin commented on #71
@mattcharlton Can you give this build a try?

[code]

[2022-02-02 17:27] stan-yago commented on #71
Ran into this issue as well. Was seeing
Error: invalid config: ApiKey must be set %!s(<nil>)

  on provider.tf line 1, in provider "harness":
   1: provider "harness" {

downgrading or upgrading to version 0.1.12-beta1 works!

[2022-02-02 21:55] jrmash commented on #57
It looks like some changes made in `0.1.10` resolved the issue, and the added logging in `0.1.12-beta1` identified a misconfiguration that was masking the fix.

Thanks, @micahlmartin!

[2022-02-02 21:56] #57 closed

[2022-02-03 04:07] micahlmartin commented on #71
Thanks for confirming @stan-yago . Just published the new version `0.1.12`.

[2022-02-03 04:07] #71 closed

[2022-02-03 17:07] eahrend opened #74 "Modify 2fa_enabled to use a letter first."
When trying to import the terraform harness provider, it gives an error because data.harness_current_user creates a function that starts with a number, which isn't supported in golang or python. To my knowledge most languages don't support naming anything with a number, which will cause auto-generation of libraries (see CDKTF).

### Terraform Version
Run `terraform -v` to show the version. If you

[2022-02-03 17:22] eahrend commented on #74
Created the PR with a potential resolution of this issue.

[2022-02-04 04:06] #74 closed

[2022-02-04 04:06] micahlmartin commented on #70
Closed by #75

[2022-02-04 04:06] #70 closed

[2022-02-04 16:18] abrahamkoshy commented on #59
Not sure what resource @ialmadiKR is seeing this issue with but we are seeing the same issue with Harness connectors.

resource "harness_yaml_config" "helm_repo" {
  path    = "Setup/Artifact Servers/helm-repo.yaml"
  content = <<EOF
harnessApiVersion: '1.0'
type: HTTP_HELM_REPO
url: https://artifactory_url.com/artifactory/some-helm-repo
username: some_user
password: custom:some_password
EOF
}

[2022-02-04 19:30] abrahamkoshy opened #79 "Unable to resolve the id field of a harness environment data source"
When running a terraform plan that creates a harness_infrastructure_definition resource using the harness_environment data source for an environment that is not yet created, the plan fails with "The argument env_id is required but no definition was found."

The same fix should be applied for other data sources like the harness_application.

### Terraform Version
v0.14.11

### Affected Data Source(

[2022-02-04 23:02] abrahamkoshy commented on #59
@micahlmartin
In our case, if we just run terraform apply and then terraform destroy a minute later with just that resource, the connector sticks around and we need to manually delete it in the UI. I'll have Sumod email the log over to you.

[2022-02-07 16:56] sumodb commented on #59
@micahlmartin I have shared the detailed logs of the plan and destroy action via email. Review it and let us know your thoughts.

[2022-02-09 17:59] micahlmartin commented on #79
@abrahamkoshy circling back on this. I took the example you sent me. I couldn't quite figure out where you were actually creating the environments, but could see them being referecend in the data resrouce. So it looked like you were using the `resource "harness_environment" "environments"` in one step and then looking them up in the next step with `data "harness_environment" "infra_def_environment

[2022-02-09 18:54] micahlmartin commented on #59
@sumodb I've confirmed this is indeed broken and I've opened a ticket with the API team. https://harness.atlassian.net/browse/PL-16770. It specifically affects account level resources (cloud providers, connectors, etc.). I'm looking at workarounds at the moment.

[2022-02-10 23:08] #79 closed

[2022-02-11 02:37] #62 closed

[2022-02-11 02:37] micahlmartin commented on #79
@abrahamkoshy this should be fixed in 0.1.14

[2022-02-11 02:55] micahlmartin commented on #45
Currently blocked until the Graphql implements the ability to query custom secrets managers. https://harness.atlassian.net/browse/PL-22567

[2022-02-15 16:23] ialmadiKR commented on #59
@micahlmartin this is how the resource is configured:

data "harness_application" "harness_app" {
  name = var.harness_app_name
}

resource "harness_yaml_config" "example_workflow" {
  app_id  = data.harness_application.harness_app.id
  path    = "Setup/Applications/${var.harness_app_name}/Workflows/${var.harness_workflow_name}.yaml"
  content = file("${path.module}/templates/Workflows/example-wor

[2022-02-16 15:36] ialmadiKR opened #83 "Add Data Source support for Infrastructure_Definition"
Would like to reference Infrastructure_Definition as a Data Source.

[2022-02-17 22:41] sumodb opened #84 "Failures seen in v0.1.14"
We have been facing multiple issues with the latest harness provider version 0.1.14 while trying to run our harness terraform modules. Everything works fine on the older version 0.1.9 and breaks on this newest version. We have tested the latest version across four of our modules and each one is failing within its PLAN/APPLY phase.

### Terraform Version
Terraform v1.0.0

### Affected Resource(s)

[2022-02-28 14:36] shubhadabirajdar opened #85 "Harness Expression doesn't reflect in the terraform provider"
Hi there,

Terraform provider does not support Expressions whereas Expressions are currently reflected in the Harness SDK.  We are deploying harness resources Service, Infrastructure definition, Workflows, pipelines through terraform. We are facing issue to undefine Expressions in Infrastructure definition.

You can refer the error herewith,

module.harness-deploy.harness_infrastructure_definition

[2022-02-28 22:19] abrahamkoshy commented on #21
+1 as we are also looking to consume this feature.

[2022-03-01 01:39] micahlmartin commented on #85
@shubhadabirajdar What field are you trying to set as an expression? It's not clear to me in the example here exactly what is happening.

[2022-03-01 05:11] micahlmartin opened #88 "[Design Proposal] Splitting up the provider"
I've been trying to figure out the best way forward for supporting the next generation Harness platform with the Terraform provider. The provider was originally built for our first generation product which is continuous delivery only (referred to here on out as **CD**). Now that we have a lot of customers starting to use our next generation platform (referred to here on out as **NG**), which has a

[2022-03-02 11:48] dgrudenic-qumu commented on #59
I've hit the same problem. Any updates?

[2022-03-02 17:30] micahlmartin commented on #59
There is a bug that's been reported to the API team that is currently being addressed that is preventing Account level resources (artifact servers, connectors, cloud providers, etc) in yaml config from being deleted. However this should still work for things like workflows.

[2022-03-03 03:59] kclarkey commented on #84
Version 0.1.10 had some underlying provider config changes, namely the required removal of the trailing `/api` on the harness `endpoint` parameter.  Your 404 errors and failed responses are similar to those we received before we updated our provider config to remove the trailing `/api` path.

[Changelog Notes](https://github.com/harness/terraform-provider-harness/blob/main/CHANGELOG.md#0110) for r

[2022-03-03 14:29] dgrudenic-qumu commented on #59
Actually I'm seeing issues on application level as well.

[2022-03-03 15:53] micahlmartin commented on #84
Thanks @kclarkey for pointing this out. I believe @sumodb and team discovered that to be their issue as well. Closing this for now.

[2022-03-03 15:53] #84 closed

[2022-03-04 16:03] suranc opened #91 "Usage Link is Broken"
In the README, the link for "Provider usage" is broken.  Currently it points to https://registry.terraform.io/providers/harness/harness/latest/docs which gives 404.  It looks like it is a relic of the move from the harness-io org, since this link seems to work: https://registry.terraform.io/providers/harness-io/harness/latest/docs

[2022-03-04 16:48] asheynkmantyler opened #92 "Issue utilizing v.0.1.15 provider"
### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
terraform provider v0.1.15 for MAC and Linux

If this issue appears to affect multiple resources, it may be an issue with Terraform's c

[2022-03-07 02:40] micahlmartin commented on #92
There's currently an issue with the Terraform Registry we're working with Hashicorp to get fixed. For now you'll need to download the package directly from the github release

[2022-03-07 02:42] micahlmartin commented on #91
Yeah this has been a nightmare trying to move the repo. We have a ticket open with Hashicorp we're trying to get addressed. I may just need to move them back to harness-io unfortunately.

[2022-03-07 15:01] sumodb commented on #92
@micahlmartin We do face similar issue when Jenkins calls the registry API to get provider metadata which ends up with HTTP 404 error. The endpoint [https://registry.terraform.io/v1/providers/harness-io/harness/0.1.15/download/linux/amd64] is throwing "{"errors":["signing key A1A83E0CC7A69F1D not found for harness-io"]}" error. Works fine for all rest of the versions expect 0.1.15.

Believe this i

[2022-03-08 18:19] MrFishFinger opened #93 ""Infrastructure Provisioners" Resource?"
Maybe I am missing something obvious, but is there a way to create a "Infrastructure Provisioners" for a given Application?

https://docs.harness.io/article/o22jx8amxb-add-an-infra-provisioner

![image](https://user-images.githubusercontent.com/4768596/157300776-3f558c47-e420-4215-a15f-05aeeaa272ef.png)

[2022-03-08 19:35] micahlmartin commented on #93
@MrFishFinger you can achieve this today using the `harness_yaml_config` resource. Let me know if that makes sense.

[2022-03-08 19:35] #93 closed

[2022-03-08 19:36] micahlmartin commented on #92
This has now been fixed. You should be able to use the provider with `harness/harness` instead of `harness-io/harness`

[2022-03-08 19:36] #92 closed

[2022-03-08 19:40] micahlmartin commented on #91
This is now fixed!!

[2022-03-08 19:40] #91 closed

[2022-03-08 19:46] micahlmartin commented on #88
After much discussion we will be moving all nextgen resources to github.com/harness/terraform-provider-harness-platform.

[2022-03-08 19:46] #88 closed

[2022-03-10 06:13] shubhadabirajdar commented on #85
@micahlmartin We are trying to add Infrastructure definition, deployment type is Lambda. We are deploying this harness through Terraform. Please check the reference herewith;

resource "harness_infrastructure_definition" "test-Infradef" {
  name                = "test-InfraDemo"
  app_id              = data.harness_application.app.id
  env_id              = harness_environment.devtest.id
  cloud_p

[2022-03-12 05:47] micahlmartin commented on #85
In terraform `${...}` is the template syntax. You have to escape it with `$${...}

[2022-03-12 05:47] #85 closed

[2022-03-17 18:00] gallowaystorm opened #100 "Issue Utilizing Version 0.2.0"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v1.1.2
on linux_amd64

### Affected Resource(s)
Terraform provider or Terraform core

If this issue appears to affect multiple resource

[2022-03-21 06:45] shubhadabirajdar commented on #85
Hi @micahlmartin

As per the harness yaml syntax, We are trying to pass **region = var.app_region    iam_role = var.role_arn** in expression block only.

expressions {
  region = var.app_region
  iam_role = var.role_arn
}
However this is failing. Since we are not sure how to pass region, iam_role in expression in terraform. We have check terraform . harness documentation even, there is no details

[2022-03-23 16:15] arimaverick opened #103 "Terraform log on Debug or Trace level is showing Harnes API key in plain text"
Hi there,

### Terraform Version
1.0.0

### Affected Resource(s)
NA

### Expected Behavior
Any change in verbosity of the Log level should not show the Harness API key in  X-Api-Key field of the HTTP Request.

### Actual Behavior
When we turn on the Log level to TRACE or DEBUG level, the log shows Harness API key (X-Api-Key value) in plain text HTTP Request body.

### Steps to Reproduce

1. export

[2022-03-23 17:18] arimaverick opened #104 "Resource Harness delegate approval fails when delegate is already approved"
Hi,

### Terraform Version
1.0.0

### Affected Resource(s)
harness_delegate_approval

### Expected Behavior
When terraform reruns apply on already approved resource it should recognize that the delegate was already approved and do nothing.

### Actual Behavior
Terraform calls approval API however delegate is already approved and in enabled state hence approval resource is failed.

### Steps to Rep

[2022-03-23 18:15] arimaverick opened #105 "Resource harness_cloudprovider_kubernetes adds new selector instead of replacing them"
Hi,
### Terraform Version
1.0.0

### Affected Resource(s)
- harness_cloudprovider_kubernetes

### Expected Behavior
When selectors are updated for harness_cloudprovider_kubernetes resource, new selectors are being added instead of being replaced.

### Actual Behavior
Selectors are added to value set in delegate_selectors

### Steps to Reproduce
Create harness_cloudprovider_kubernetes resource and

[2022-03-24 03:28] micahlmartin commented on #105
@arimaverick I added a test for this and I'm not seeing the behavior described here.

[2022-03-24 03:36] micahlmartin commented on #104
I tested this and I'm not seeing the behavior described here.

[code]

Here's the results

[code]

[2022-03-24 19:53] arimaverick commented on #104
Hi,

Thanks for looking into this. I can confirm the delegate approval if is reapplied for the same delegate is working absolutely fine. However we also tested the resource for different delegate. So if the delegate is renamed which is needed to approve, then the resource errors out and reports that the delegate is already in Enabled state instead of approving the new harness delegate.
Error we ar

[2022-03-24 20:53] micahlmartin commented on #104
ok I see. I think then I need to set the name field so that it forces it to create new resource. Let me take a look.

[2022-03-25 10:20] arimaverick commented on #104
Hi @micahlmartin
What we have observed after the update has failed, in the state file the delegate_id and id fields are different. delegate_id is updated with the new "delegate-1" and id is still referring to the old "delegate-1" and status still in "Enabled" state which is why I think Terraform is referring that the delegate-2 is already in Enabled state.
We have also observed that if the delegat

[2022-03-26 16:15] dgrudenic-qumu commented on #21
+ 1

[2022-03-28 18:21] gallowaystorm opened #108 "Question: Harness NextGen Support"
Hi,

I am trying to implement your Terraform Provider for Harness NextGen.  It has been told to me that NextGen is not supported for this provider.  Is there a plan for this in the future?  If so, when?

[2022-03-29 18:36] arimaverick opened #109 "Harness environments creation facing intermittent provider inconsistency"
Hi,

### Terraform Version
1.0.0

### Affected Resource(s)
- harness_environment

### Terraform Configuration Files
[code]

### Expected Behavior
Environments will be created without without any issue.

### Actual Behavior
Apply facing the following error sometimes:

[code]

### Steps to Reproduce

1. Create the configuration based on above code
2. `terraform apply`

@abrahamkoshy

[2022-03-31 16:51] micahlmartin commented on #55
Closing this since it is over 30 days.

[2022-03-31 16:51] #55 closed

[2022-04-04 14:25] gallowaystorm commented on #108
@micahlmartin when that repo is combined, will the terraform resource names and configuration change?  Or will it just be as easy as switching the provider?  (from a code perspective)

[2022-04-04 14:55] micahlmartin commented on #108
We have to change the names to not conflict with the resources from the current gen product. We will have resources that will follow these naming conventions:

- `harness_platform_x`: All resources that are global to the platform (permissions, projects, orgs, secrets, etc)
- `harness_ff_x`: Resources specific to feature flags.
- `harness_ccm_x`: Resources specific to the cloud cost management modu

[2022-04-06 14:28] gallowaystorm commented on #108
Thank you. Last question... what is the timeline for the terraform repo merge?

[2022-04-07 01:45] micahlmartin commented on #108
Hopefully by the end of next week

[2022-04-12 20:58] stan-yago opened #111 "/updateSecret error handled as success in tfstate"
While updating secrets across multiple instances we hit a limit with our key.
Even thought the call to harness failed, the state file was updated with new key anyway.  The next time apply ran it skipped this resource since it considered it updated.  This caused the connector to stop working.

Error: Exception while fetching data (/updateSecret) : Invalid request: User not authorized
  with module.

[2022-04-13 16:52] micahlmartin commented on #111
@stan-yago can you open a ticket directly with Harness? You can reference this internal ticket https://harness.atlassian.net/browse/PL-22244.

[2022-04-18 18:03] gallowaystorm commented on #108
I see the providers have now been merged.  How does the provider differentiate between NextGen and CurrentGen?

[2022-04-18 23:51] micahlmartin commented on #109
Closing for now as it appears to be intermittent.

[2022-04-18 23:51] #109 closed

[2022-04-19 02:08] micahlmartin commented on #105
Unable to reproduce in the current version.

[2022-04-19 02:08] #100 closed

[2022-04-19 02:10] micahlmartin commented on #103
This is proving to be quite difficult to fix becuase the logging package is separate module that isn't owned by us. We'd have to fork it to add the additional functionality. If this is absolutely critical we're going to have to go back to the drawing board on this.

[2022-04-19 02:10] #103 closed

[2022-04-19 02:15] micahlmartin commented on #104
This will be addressed in the next release.

[2022-04-19 02:15] #104 closed

[2022-04-19 17:29] jadunham1 opened #116 "Yaml configurations with multiple metric-thresholds can cause diffs in terraform plan/apply"
Hello there.
I am using terraform to template out some complex workflows in harness and running into an ordering issue on yaml files and I think it is because of the API, but not sure if something that should be handled in the go client/terraform.

### Problem
Every time I run terraform apply we see differences using the `harness_yaml_config` even though nothing has changed.
This seems to be speci

[2022-04-26 15:37] micahlmartin commented on #111
@stan-yago I will fix the provider to properly handle the error. There is a ticket open with harness to fix the api key issue.

[2022-04-27 11:30] raj-dhamsaniya commented on #116
we are having the same issue and this is reproducible.

[2022-04-27 11:47] micahlmartin commented on #116
Thank you @jadunham1 and @raj-dhamsaniya. I've opened an internal ticket with the engineering team to fix this in the underlying API. https://harness.atlassian.net/browse/SWAT-7337.

[2022-04-27 18:09] ndrone-kr opened #120 "Plugin crash on plan"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2022-05-02 15:45] tylertechgraves opened #121 "When destroying a service-specific values.yaml environment override, the all-services values.yaml environment override is removed without warning"
### Terraform Version
1.1.4

### Harness provider version
LATEST

### Affected Resource(s)
Please list the resources as a list, for example:
- harness_yaml_config

### Terraform Configuration Files
[code]

### Debug Output
Please note that in the above hcl, there's really only one resource related to this problem.  It's the last resource:
resource "harness_yaml_config" "harness_service_environment

[2022-05-04 02:16] micahlmartin commented on #120
Does this happen every time you run it?  Would you mind enabling debug logs with `export TF_LOG=DEBUG` and sending them to me at micah.martin@harness.io?

[2022-05-05 13:44] ndrone-kr commented on #120
yes it happens everytime. I'm working on getting the logs together. I need to review the logs before sending.

[2022-05-06 16:45] micahlmartin commented on #121
@tylertechgraves I'm having a hard time reproducing this issue. Here's what I setup:

- I have an existing application where I've configured an "All Services" override pointing at a remote values yaml file.
- In Terraform I create a service specific values override.

When I apply the Terraform I can see it successfully creates the service-specific override and after I delete it the "All Services"

[2022-05-06 17:04] micahlmartin commented on #105
This is fixed in `v0.2.4`.

[2022-05-06 17:04] #105 closed

[2022-05-06 17:19] micahlmartin commented on #120
@ndrone-kr Can you try running just this and see what you get?

[code]

[2022-05-09 15:04] tylertechgraves commented on #121
@micahlmartin, thanks so much for looking at this.  I have not been able to reproduce using the latest version of this provider in conjunction with our latest terraform modules.  I can only reproduce using our older modules which were running on an earlier version of the provider.  I'm going to dig into this more and will let you know if I find something troubling.  The weirdest part for us was th

[2022-05-09 20:20] ndrone-kr commented on #120
@micahlmartin sad to say this was a setup issue. I forgot to place the harness API key as an environment variable in my workflow. Thank you for all the help.

[2022-05-10 17:41] jrmash opened #126 "Cannot Specify Delegate Selectors with Service Account in Harness NG Kubernetes Connector"
Configuring a Kubernetes connector that uses a service account via Terraform does not offer any means of specifying delegate selectors. This is possible via the Harness NG web interface:

![image](https://user-images.githubusercontent.com/2574997/167687771-fba0d808-1d83-443a-9000-806d2e0b0c57.png)

### Terraform Version
[code]

### Affected Resource(s)
[code]

### Terraform Configuration Files
[co

[2022-05-16 11:54] micahlmartin commented on #121
That's strange. Glad it's working though. I'll close this for now. Feel free to repopen if it happens again.

[2022-05-16 11:54] #121 closed

[2022-05-16 11:55] #120 closed

[2022-05-16 11:55] micahlmartin commented on #116
This is now fixed and in production.

[2022-05-16 11:55] #116 closed

[2022-05-16 20:19] #83 closed

[2022-05-16 20:34] asheynkmantyler opened #133 "Create new resource to manage environment overrides"
Hello,

We have a slight design problem with current harness provider.

We are utilizing a design patter, by which we store all Harness asset configuration together with the code for the service itself. So for example service A has terraform configuration for Harness assets (service definition, environment values override) belonging to service A, service B has terraform definitions for service B.

[2022-05-16 21:47] micahlmartin commented on #133
Hi @asheynkmantyler . Thanks for sending this in. The challenge here is that for variable overrides in an environment, they're all managed inside the same config-as-code file in harness. It looks like this:

[code]

Under the hood, all I'm doing in Terraform is generating this yaml entity and pushing it to the API. I'm not sure how I can have separate resources manage separate parts of the same co

[2022-05-17 07:59] stan-yago opened #134 "Add support for tags to the provider"
This is an enhancement request to support assigning harness tags using the terraform provider. Tags are available for

Application
Service
Environment
Workflow
Pipeline
Infrastructure Provisioner

https://docs.harness.io/article/nrxfix3i58-tags#review_tag_scope

[2022-05-17 08:03] stan-yago opened #135 "Add support for verification providers in harness provider"
Enhancement request to allow Configuration of Verification Providers using terraform.
https://docs.harness.io/article/r6ut6tldy0-verification-providers

[2022-05-17 10:37] arimaverick opened #136 "Harness data source for application cannot retrieve app_id after app provisioned"
Hi,

We have a terraform module for harness components (comprises of workflow, pipeline, etc) for which we need to retrieve the app_id from data source inside the module. In order to test the module, we are provisioning the harness application and passing the name of the harness application in the next component module call (the component module can only accept application name for our generic use

[2022-05-17 12:38] ialmadiKR opened #137 "Create new resource for Verification Providers"
We would like for there to be a resource to create Verification Providers particularly for Prometheus.

We have over a hundred teams and each team has their own separate instance of Prometheus for each environment so we would like to automate the process.

Could your team please work on this enhancement request?

**Note:** I tried looking into looking into using the resource **harness_yaml_config*

[2022-05-17 12:40] ialmadiKR commented on #137
This appears to be a duplicate of https://github.com/harness/terraform-provider-harness/issues/135 going to close this ticket.

[2022-05-20 16:25] arimaverick commented on #136
@micahlmartin I totally agree with you that we can use the resource attribute , however we have separated the application resource provisioning with that of its component provisioning. They are in two different modules for our specific use-case. we can use only data source inside the module which accepts the name of the application.

[2022-05-20 19:06] micahlmartin commented on #136
But these are all still part of the same terraform execution?

[2022-06-01 05:55] gzquse opened #142 "No data resource for cloud_provider"
Hi there,

When i trying to manage harness environment there should be infra block to create a resource according to `cloud_provider`.

But sadly, i separate environment and provider into two folders. So i trying to get cloud_provider name from data block. I searched in harness-terraform doc. They don't support data resource for cloud_provider_kubernetes.

Can i get more details of this? thanks

#

[2022-06-03 15:19] micahlmartin commented on #21
There is a feature flag called `TRIGGER_YAML` you can have your CSM enable in harness for you. This will allow you to manage triggers using the `harness_yaml_config` resource. Hopefully this helps everyone!

[2022-06-03 15:19] #21 closed

[2022-06-08 02:36] hwh57 opened #146 "Support for harness_platform_connector_vault"
Enhancement request to support harness_platform_connector_vault to use Hashicorp Vault as a secret manager. This looks like it is supported by the API but is yet to make it into this provider.

[2022-06-09 12:49] mphammer opened #147 "Improved DEFAULT_ERROR_CODE - Probably Rate Limiting"
### Background
Sometimes I get the "DEFAULT_ERROR_CODE" error message when running terraform plans and applies. The issue usually resolves itself if I re-run the terraform code at a later time. We speculated that this could be due to Rate Limiting and confirmed with Harness Support that this is possibly the issue.

### Feature Request
Instead of "DEFAULT_ERROR_CODE" would it be possible to say "RA

[2022-06-09 22:06] abstract-base-method opened #148 "Provider Panic when creating k8s service"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v1.1.9
on darwin_arm64

### Affected Resource(s)
Please list the resources as a list, for example:
- harness_service_kubernetes

If thi

[2022-06-09 23:34] micahlmartin commented on #148
Hi James! Thanks for sending this over. Looking at the code it's possible that the application you're referencing couldn't be found. I'm adding extra error handling in that spot. Can you verify the application actually got created?

[2022-06-10 00:23] abstract-base-method commented on #148
The application is created, but the service is not. I can see in the trace logs that the app create call is successful, and the `Get` call to the app it returns successfully as well.

[2022-06-10 21:07] spencer-langley opened #150 "Cannot create application"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Reproduced on versions 1.2.2, 1.0.11, and 0.15.4

### Affected Resource(s)
Please list the resources as a list, for example:
- harness_applicatio

[2022-06-13 13:34] mphammer opened #151 "Terraform Cannot Find Darwin Package for Provider Version 0.2.11"
### Terraform Version
[code]

### Affected Resource(s)
- terraform init

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/mphammer/7de76df595b802c1d937af94aae63285

### Expected Behavior
`terraform init` finds the darwin_amd64 package for provider version 0.2.10 and initializes.

### Actual Behavior
`terraform init` fails to initialize because it can't find a pack

[2022-06-13 14:07] mphammer opened #152 "Harness Cannot Connect to Backend API After Many Retries"
### Terraform Version
Version 0.14.8

### Affected Resource(s)
All harness terraform resources.

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/mphammer/1d858fe15f13c5552f9e7e80e81d4686

### Expected Behavior
The Terraform Plan completes.

### Actual Behavior
The Terraform Plan has trouble connecting to the graphql API and errors after many attempts.
This was no

[2022-06-13 14:37] mphammer opened #153 "Harness Default Error Leads to Terraform Plan Crash"
### Terraform Version
Version 0.14.8

### Affected Resource(s)
Terraform plan - all resources.

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/mphammer/59bf2b845db536f992a85dd755cf579d

### Expected Behavior
Terraform plan completes successfully.

### Actual Behavior
The terraform plan crashes due to a lot of Harness Error messages. This issue was not present un

[2022-06-13 14:44] micahlmartin commented on #151
Hi @mphammer . It looks like you have a bad reference somewhere in your state. I see this:
[code]

But it should be this
[code]

This was change quite a few versions back where we move the repo from `harness-io/terraform-provider-harness` to `harness/terraform-provider-harness`

Let me know if that makes sense.

[2022-06-13 14:44] #151 closed

[2022-06-13 16:59] mphammer commented on #151
Thank you for the clarification! This fixed the problem.

For anyone else that might find this:

Step 1: I updated the source to be harness/harness and I updated the version
[code]
Step 2: I pulled the statefile from remote, changed all instances of `harness-io` to `harness`, and then pushed back to remote.
Step 3: I ran a `terraform init` and it passed.

[2022-06-13 23:16] abstract-base-method commented on #148
This was due to a race condition in the `terraform apply`. By making the `depends_on` clause explicit the issue was resolved.

[2022-06-13 23:16] #148 closed

[2022-06-14 02:09] micahlmartin commented on #150
Hi @spencer-langley . This is definitely some wrong on the backend API. I've opened up a support ticket on your behalf. You should have received an email.

[2022-06-14 02:11] micahlmartin commented on #152
@mphammer I think this issue is related to using a version that is very old. The latest is `0.2.11`.

[2022-06-14 02:11] #152 closed

[2022-06-14 19:06] mphammer commented on #152
@micahlmartin I upgraded to 0.2.11 and the issue did not go away.

Plan Output:

[code]

[2022-06-14 19:09] micahlmartin commented on #152
@mphammer is the config you posted the entire module you're running?

[2022-06-16 13:25] mphammer commented on #153
There was resolved from the Harness API team fixing a bug.
Our company was also seeing an error in the Harness API Explorer - it wasn't running any queries.

[2022-06-16 13:25] #153 closed

[2022-07-02 20:32] nialdaly commented on #146
I tried to have a look at this @hwh57 but it seems that Vault hasn't yet been included in the `ConnectorInfo` struct on the [harness-go-sdk](https://github.com/harness/harness-go-sdk/blob/main/harness/nextgen/model_connector_info.go). This may be a blocker for adding it to `terraform-provider-harness`?

[2022-07-12 13:46] laupow opened #165 "harness_yaml_config formatting constant changes"
Harness is reformatting and reordering yaml which causes constant changes in terraform runs

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- `harness_yaml_config`

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
I can run Terraform Plan multiple times and see no diff/changes

### Actual Behavior
Har

[2022-07-22 16:16] spencer-langley opened #171 "Cannot create artifact server"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
1.1.7

### Affected Resource(s)
Please list the resources as a list, for example:
- harness_yaml_config

### Terraform Configuration Files
[code]

[2022-07-26 12:28] rijajoo commented on #126
Issue has been fixed in v0.2.13, https://github.com/harness/terraform-provider-harness/blob/main/CHANGELOG.md#0213.

[2022-07-26 12:29] #126 closed

[2022-07-26 12:53] rijajoo commented on #53
Hi @stan-yago, can you please share more details?
1) Example terraform configuration (steps to reproduce)
2) Error faced

[2022-07-27 14:21] stan-yago commented on #53
@rijajoo Sure the terraform code to setup git connector and link the connector to an app

`resource "harness_git_connector" "git_connector" {
  name   = "${local.github_repo_name}-git-connector"
  url    = github_repository.app_repo.ssh_clone_url
  branch = local.branch
  commit_details {
    author_name     = var.harness_committer.commit_author
    author_email_id = var.harness_committer.commit_e

[2022-08-01 13:21] asheynkmantyler opened #176 "Add ability to configure Services and Environment overrides by using remote overrides"
Hello,

Currently neither harness service nor harness environment variables for that service can be configured using remote manifests via terraform. While there a workaround using yaml_config resource, it causes some dependency issues in Terraform.  I propose adding that functionality to the appropriate resources.

I propose adjusting resources so that you can specify git connector name (or id) an

[2022-08-05 18:49] itsdax opened #178 "Resource Group panic from Array out of bounds"
There's a bug in [resource groups](https://github.com/harness/terraform-provider-harness/blob/ea83f9fb2fb770e3fb46d12dddb41f8201b54854/internal/service/platform/resource_group/resource_group.go#L325) that is causing an array out of bounds.

The [harness provider documentation](https://registry.terraform.io/providers/harness/harness/latest/docs/resources/platform_resource_group#nested-schema-for-re

[2022-08-11 13:58] gdineshkumar627 opened #180 "Harness group creation failed if we pass both filters and env_ids"
### Terraform Version: 0.14.8

### Affected Resource(s)
harness_user_group_permissions
harness_user_group

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
It should create the user group without any issues

### Actual Behavior
According to the documentation `action` and `filters` are mandatory arguments but when i pass the values along with `env_ids` it is

[2022-08-11 15:10] ttruong-actian opened #181 "panic on creating connector"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
1.2.5

### Affected Resource(s)
Please list the resources as a list, for example:
- harness_platform_connector_kubernetes

If this issue appears

[2022-08-25 15:08] rathodmeetsatish commented on #178
This issue is fixed in v0.3.3

[2022-08-25 15:08] #178 closed

[2022-08-25 15:09] rathodmeetsatish commented on #181
We need to pass the secret refernce and not the secret directly

[2022-08-25 15:09] #181 closed

[2022-08-26 17:18] micahlmartin commented on #146
@rathodmeetsatish IS this something you can assist with in the SDK?

[2022-08-29 19:16] spencer-langley commented on #171
This is a recurring issue that's slowing down our onboarding of new services. Any updates?

[2022-10-23 00:18] steve-gray opened #260 "GitOps Resources Don't Work....."
I'm unable to get any of the `harness_gitops_` prefixed resources to work. It appears either the underlying Go SDK API's don't permit the use of PAT/SAT keys and require a bearer token, or that the keys aren't being passed around internally.

I've tried a few options here in different directions, but ultimately we just want to have a terraform script create some Harness resources and trigger them.

[2022-10-23 00:36] steve-gray commented on #260
Yeah, I've confirmed this with the Go SDK locally. The fix is in addition to *these* lines....

[code]

You need to follow them with:
[code]

(Where apiKey is from the terraform provider properties). Ideally you should remove any access of environment variables from these resource definitions and do that kind of defaulting in the Terraform provider function itself, not inside the individual resour

[2022-10-24 01:44] steve-gray opened #262 "Resource Import Examples - Incorrect"
The documentation for importing resources is incorrect, seemingly across the board:

## Example
https://registry.terraform.io/providers/harness/harness/latest/docs/resources/platform_service

Example given is:
[code]

Should be

[code]

If you follow the listed version, you'll get panics due to trying to split the string (line 197 of helpers/schema.go).

EDIT: The code for this function internally

[2022-10-30 05:35] rathodmeetsatish commented on #146
vault connector is available in latest version https://github.com/harness/terraform-provider-harness/pull/250

[2022-10-30 05:35] #146 closed

[2022-11-21 15:55] completerevolution opened #308 "[platform_triggers] Quick fix: typo "craeting" -> "creating""
URL - https://registry.terraform.io/providers/harness/harness/latest/docs/resources/platform_triggers

Typo:  `Resource for craeting triggers in Harness.`

Edit - I see it's fixed in this commit - https://github.com/harness/terraform-provider-harness/commit/749761f907129a65ba27b31eda8465d608db1c43

[2022-11-21 15:57] #308 closed

[2022-11-22 10:45] mmorejon opened #311 "Error creating a user"
### Terraform Version

[code]
### Affected Resource(s)
- harness_user

### Terraform Configuration Files
Not needed

### Panic Output
[crash.log](https://gist.github.com/mmorejon/b0a65a19019e4f3b75e3306c85119ff3)

### Expected Behavior
A new user was created in the account.

### Actual Behavior
I got a memory error in the console.

### Steps to Reproduce
1. `terraform apply`

### Important Factoid

[2022-11-22 18:12] rathodmeetsatish commented on #311
Can you please share the configuration you applied?

[2022-11-23 12:17] mmorejon commented on #311
This is the `main.tf` file.

[code]

[2022-11-25 14:33] mmorejon commented on #311
Any suggestion @rathodmeetsatish ?

[2022-11-26 07:05] rathodmeetsatish commented on #311
@mmorejon you have not provided account_id and api_key in provider config. Also if you use the latest version you will get a proper error message. Please refer to example usage here https://registry.terraform.io/providers/harness/harness/latest/docs to see have to provide provider configs

[2022-11-26 10:58] mmorejon commented on #311
Hi @rathodmeetsatish .
I'm using environment variables for the `account_id` and the `platform_api_key` to configure Harness provider Next Generation.
I updated Harnes provider from version `0.7.1` to `0.9.1`, and now I have a different error message:
[code]

I noted `harness_user` belongs to the First Generation group. Do I need a second provider for the First Generation too?
If this is the case,

[2022-11-26 11:44] rathodmeetsatish commented on #311
to use both first gen and next gen resources add both platform_api_key and api_key
provider "harness" {
  endpoint         = "https://app.harness.io/gateway"
  account_id       = "...."
  platform_api_key = "......"
  api_key    = "......"
}
here for platform_api_key please add api key generated in next gen and for api_key please add api key generated in firstgen
to create api key in first gen fol

[2022-11-26 13:32] mmorejon commented on #311
Thanks a lot for the support. The user was created.

[2022-11-26 13:32] #311 closed

[2022-11-29 18:36] manavjot-harness commented on #260
Hi @steve-gray , this has been fixed. Now GitOps resources support the pat token.

[2022-11-29 18:36] #260 closed

[2022-11-29 19:23] steve-gray commented on #260
I can confirm this is working, and was able to deploy a Gitops agent.

@manavjot-harness  - is there a resource to configure the association between an agent and environment anywhere?

[2022-11-29 21:12] steve-gray opened #328 "Delegate Setup Resources for NextGen"
Similar to #260 where there was gaps in the resource offering for Gitops, there's seemingly a few holes in the experience here around delegates for nextgen users. I'm not sure if this is also an API/token endevour too, but the problems that leap out as far as I can tell are:

- No resource to allow creation of a delegate token.
- No resource to allow creation of a delegate
- Data-source to allow r

[2022-11-30 04:24] rathodmeetsatish commented on #262
import examples are fixed in latest version https://registry.terraform.io/providers/harness/harness/latest/docs/resources/platform_service. Thanks for reporting

[2022-11-30 04:24] #262 closed